{% extends '@ContactForm/mail.html.twig' %}

{% block content %}
    <container>
        <center>
            <row>
                <columns>
                    <spacer size="16"></spacer>
                    <h1>{{ params.mailTitle }}</h1>
                </columns>
            </row>
        </center>
    </container>
    <container>
        <row>
            <columns>
                <spacer size="16"></spacer>
                <p>{{ 'instride.mail.greeting'|trans }} {{ params.admin }}</p>
            </columns>
        </row>
    </container>
    <container>
        <row>
            <columns>
                <spacer size="16"></spacer>
                <p>{{ mailText }}</p>
                <a href="{{ objLink }}">{{ objLink }}</a>
            </columns>
        </row>
    </container>
    <container>
        <row>
            <columns>
                <spacer size="16"></spacer>
                <p>{{ params.message }}</p>
            </columns>
        </row>
    </container>
{% endblock %}
