{% if form is not empty %}
    {{ form_start(form) }}

    {{ form_row(form._token) }}

    <div class="uk-width-1-1">
        {{ form_row(form.firstname) }}
    </div>

    <div class="uk-width-1-1">
        {{ form_row(form.lastname) }}
    </div>

    <div class="uk-width-1-1">
        {{ form_row(form.email) }}
    </div>

    <div class="uk-width-1-1">
        {{ form_row(form.message) }}
    </div>

    <div class="uk-width-1-1">
        {{ form_row(form.submit) }}
    </div>

    {{ form_end(form, {render_rest: false}) }}
{% endif %}
