<div id="cf-modal-header">
    <h2>
        {{ pimcore_input('formTitle', {
            placeholder: 'Form Title',
            width: 400,
            defaultValue: ''
        }) }}
    </h2>
</div>
<div id="cf-modal-body">
    <p>
        {{ pimcore_textarea('formDescription', {
            nl2br: true,
            height: 150,
            width: 400,
            placeholder: 'Form Description',
            defaultValue: ''
        }) }}
    </p>

    {% if editmode is same as false %}
        {{ include('@ContactForm/form/_form.html.twig') }}
    {% else %}
        <h2>
            {{ pimcore_input('mailTitle', {
                placeholder: 'Mail Title',
                width: 400,
                defaultValue: ''
            }) }}
        </h2>
        <p>
            {{ pimcore_textarea('userMailText', {
                nl2br: true,
                height: 150,
                width: 400,
                placeholder: 'User Mail Text',
                defaultValue: ''
            }) }}
        </p>
        <p>
            {{ pimcore_textarea('adminMailText', {
                nl2br: true,
                height: 150,
                width: 400,
                placeholder: 'Admin Mail Text',
                defaultValue: ''
            }) }}
        </p>
    {% endif %}
</div>
